<!--<div class="form-group ">-->
    <!--<div class="input-group">
        <label for="maturityDate"> Maturity Date</label>
        <span class="input-group-btn">
            <a class="btn btn-info btn-xs" ng-click="vm.maturityDateHelp()">
                <i class="fa fa-question-circle"></i>
            </a>
        </span>
    </div>-->
    <div class="input-group input-group-sm">
        <input id="maturityDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
               name="maturityDate" ng-model="vm.maturityDate" is-open="vm.datepickers.maturityDate"
               datepicker-options="dateOptions" ng-required="true"
               close-text="Close" />
        <span class="input-group-btn">
            <button class="btn btn-xs" ng-click="vm.open($event,'maturityDate')" ng-focus="vm.datepickers.maturityDate=true">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
    <span class="text-danger" ng-cloak ng-show="maturityDate.$error.required">Required</span>
    <span class="text-danger" ng-cloak ng-show="!maturityDate.$valid">Enter a Valid Date</span>
<!--</div>-->
