@{
    ViewBag.Title = "Cash Flows";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/csv-js/csv.js"></script>
    <script src="~/js/app-calculator.js"></script>
    <script src="~/js/cashflowsController.js"></script>
}
<div class="row" ng-app="app-calculator">
    <div ng-view></div>
</div>