@{
    ViewBag.Title = "Custom Calculator";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-calculator.js"></script>
    <script src="~/js/calculatorController.js"></script>
}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Custom Calculator</h2>
    </div>
</div>
<div class="row" ng-app="app-calculator">
    <!--
    <div ng-controller="calculatorController as vm" class="col-md-4 col-md-offset-4">
       <table class="table" table-responsive table-striped>
           <tr ng-repeat="iClass in vm.instrumentClass">
               <td>{{iClass.name}}</td>
               <td>{{iClass.created}}</td>
           </tr>
       </table>
    </div>
        -->
    <div ng-controller="calculatorController as vm" class="col-md-2">
        <form>
            <div class="form-group">
                <label>Instrument Class</label>
                <select  class="form-control"  name="instrumentClassSelect" id="instrumentClassSelect">
                    <option ng-repeat="iClass in vm.instrumentClass" value="{{iClass.name}}">{{iClass.name}}</option>
                </select>
              <!--  <input class="form-control" /> -->
            </div>
            <div class="form-group">
                <label>Day Count</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Pay Frequency</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Calculation Date Adjust</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Payment Date Adjust</label>
                <input class="form-control" />
            </div>
        </form>
    </div>
    <div class="col-md-2">
        <form>
            <div class="form-group">
                <label>Maturity Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Value Date</label>
                <input class="form-control" />
            </div>
            <div>
                <input type="submit" value="Calculate" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
