@{
    ViewBag.Title = "Home Page";
}
<div class="row" ng-app="app-calculator">
    <h1>Welcome to FinSys Calculator</h1>
    <div class="col-md-12">
        <p>This app allows you to perform financial calculations.</p>
        <a asp-controller="App" asp-action="CustomCalc" class="btn btn-lg btn-success">Custom Calculator</a>
    </div>
    @*<div ng-view></div>*@
</div>