<!DOCTYPE html>
<html>
<head>
    <title>FinSys - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/angular-bootstrap-datepicker/dist/angular-bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/lib/angular-ui-grid/ui-grid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body ng-app="app-calculator">
    <div id="sidebar">
@*        <img src="~/img/menupicture.jpg" alt="Menu" class="menuimg" />*@ 
        <ul class="nav">
            @*<li><a asp-controller="App" asp-action="Calculators">Calculators</a></li>*@
            @*<li><a href="#/About">About</a></li>*@
            <li><a href="#/Guide">Guide</a></li>
            <li><a href="#/Guide#contact">Contact</a></li>
            <li><a href="#/QuickCalc">Quick Calcs</a></li>
            <li><a href="#/CustomCalc">Custom Calcs</a></li>
        <li><a href="#/USTBill">USTBill</a></li>
            <li><a href="#/CashFlows">Cash Flows</a></li>
            <li><a href="#/DayCount">Day Count</a></li>
            @*<li><a href="#/Contact">Contact</a></li>*@
                        @*<li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
        <li><a asp-controller="App" asp-action="CustomCalc">Custom Calcs</a></li>
        <li><a asp-controller="App" asp-action="About">About</a></li>
        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>*@
        </ul>
    </div>
    <div id="wrapper">
        <nav nav class="navbar navbar-inverse">
            <div id="main" class="container-fluid" >
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>
                    </li>
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand">CalcCore Home</a>
                <script src="~/lib/angular/angular.min.js"></script>
                <script src="~/lib/angular-easy-social-share/easy-social-share.js"></script>
                <ul class="nav navbar-nav navbar-right"  >
                    <li>
                        <div class="share-links btn btn-lg btn-info" >
                            <div share-square="true" share-links="Facebook, Twitter, LinkedIn, Google-Plus" share-title="FinSys Financial Calculator"></div>
                        </div>
                    </li>
                    @*<li>
                        <div class=" btn btn-lg btn-info">
                            <a href="#/Contact" class="btn btn-lg btn-info">
                                Contact
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class=" btn btn-lg btn-info">
                            <a href="#/Guide" class="btn btn-lg btn-info">
                                Guide
                            </a>
                        </div>
                    </li>*@
                    @*<li>
                <a href="#" class="btn btn-sm btn-info">
                    <i class="fa fa-save"></i> Save
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-sm btn-info">
                    <i class="fa fa-print"></i> Print
                </a>
            </li>*@
                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div id="childpage">
                @RenderBody()
            </div>
        </div>
        <div id="footer" class="container-fluid" ng-controller="layoutController">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2016 SoftDrive Consulting Inc. DISCLAIMER: RESULTS NOT GUARANTEED. FOR DEMONSTRATION ONLY.</h4>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script src="~/lib/angular-easy-social-share/easy-social-share.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>