<div class="col-md-12" ng-app="app-calculator">
    <div class="col-md-12">
        <div class="col-md-4  col-md-offset-4">
            <h2>Custom Calculator</h2>
        </div>
    </div>
    <div class="text-danger text-center" ng-show="vm.errorMessage">{{ vm.errorMessage}}</div>
    <div class="text-center" ng-show="vm.isBusy"><i class="fa fa-spinner fa-spin"></i> Loading... </div>
    <form novalidate name="CustCalcForm">
        <div class="col-md-2">
            <div class="form-group">
                <label for="instrumentClassSelect">Instrument Class</label>
                <select class="form-control" name="instrumentClassSelect" id="instrumentClassSelect"
                        ng-options="iClass for iClass in vm.instrumentClass"
                        ng-model="vm.selectedInstrumentClass"
                        ng-change="vm.instrumentClassChanged()">
                    <option value="" ng-if=!vm.selectedInstrumentClass>Select...</option>
                </select>
                <!--
                <select  class="form-control"  name="instrumentClassSelect" id="instrumentClassSelect">
                   <option ng-repeat="iClass in vm.instrumentClass" value="{{iClass}}"
                         >{{iClass}}</option>
                </select>
                    -->
            </div>
            <div class="form-group">
                <label for="interestRate">Interest Rate</label>
                <input type="text" class="form-control" id="interestRate" name="interestRate" ng-model="vm.interestRate"
                       ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
            </div>
            <span class="text-danger" ng-cloak ng-show="CustCalcForm.interestRate.$error.required">Required</span>
            <span class="text-danger" ng-cloak ng-show="CustCalcForm.interestRate.$error.pattern">Invalid Number</span>
          <div class="form-group">
                <label for="maturityDate">Maturity Date</label>
                <div class="input-group">
                    <input id="maturityDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           name="maturityDate" ng-model="vm.maturityDate" is-open="vm.datepickers.maturityDate"
                           datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event,'maturityDate')" ng-focus="vm.datepickers.maturityDate=true">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <span class="text-danger" ng-cloak ng-show="CustCalcForm.maturityDate.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="!CustCalcForm.maturityDate.$valid">Enter a Valid Date</span>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="includeCashflows" ng-model="vm.includeCashflows"> End of Month
                </label>
            </div>
            <div class="form-group">
                <label for="valueDate">Value Date</label>
                <div class="input-group">
                    <input id="valueDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           name="valueDate" ng-model="vm.valueDate" is-open="vm.datepickers.valueDate"
                           datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event,'valueDate')" ng-focus="vm.datepickers.valueDate=true">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <span class="text-danger" ng-cloak ng-show="CustCalcForm.valueDate.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="!CustCalcForm.valueDate.$valid">Enter a Valid Date</span>
            </div>
            <label class="control-label">Calculate From:</label>
            <div class="form-group" ng-init="vm.calcfrom='price'">
                <label class="radio-inline">
                    <input type="radio" name="calcChoice" value="price" ng-model="vm.calcfrom">
                    Price
                </label>
                <label class="radio-inline">
                    <input type="radio" name="calcChoice" value="yield" ng-model="vm.calcfrom">
                    Yield
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-success btn-block"  ng-click="vm.calculate()" ng-disabled="CustCalcForm.$invalid"/>
            </div>
            <div class="form-group">
                <input type="submit" value="API" class="btn btn-primary btn-block"
                       ng-click="vm.getApi()" ng-disabled="CustCalcForm.$invalid || !vm.responseJson" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <div class="input-group">
                    <label for="yield">Yield/Discount</label>
                    <input type="text" class="form-control" id="yield" name="yield" ng-disabled="vm.calcfrom!='yield'"
                           ng-model="vm.yield" ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
                </div>
                <span class="text-danger" ng-cloak ng-show="CustCalcForm.yield.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="CustCalcForm.yield.$error.pattern">Invalid Number</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="price">Clean Price (Par=100)</label>
                    <input type="text" class="form-control" id="price" name="price" ng-disabled="vm.calcfrom!='price'"
                           ng-model="vm.price" ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
                </div>
                <span class="text-danger" ng-cloak ng-show="CustCalcForm.price.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="CustCalcForm.price.$error.pattern">Invalid Number</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="interest">Accrued Interest</label>
                    <input type="text" class="form-control" id="interest" name="interest" readonly
                           ng-model="vm.interest" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="dirtyPrice">Dirty Price</label>
                    <input type="text" class="form-control" id="dirtyPrice" name="dirtyPrice" readonly
                           ng-model="vm.dirtyPrice" />
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="exCoup" ng-model="vm.exCoup"> Ex-Coupon
                </label>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="tradeFlat" ng-model="vm.tradeFlat"> Trade Flat
                </label>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="includeCashflows" ng-model="vm.includeCashflows"> Include Cashflows
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="previousPay">Previous Pay:</label>
                <div class="input-group">
                    <input id="previousPay" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           name="peviousPay" ng-model="vm.previousPay" is-open="vm.datepickers.previousPay"
                           datepicker-options="dateOptions" readonly
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event,'previousPay')" ng-focus="vm.datepickers.previousPay=true" ng-disabled="true">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="nextPay">Next Pay:</label>
                <div class="input-group">
                    <input id="nextPay" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           name="nextPay" ng-model="vm.nextPay" is-open="vm.datepickers.nextPay"
                           datepicker-options="dateOptions" readonly
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event,'nextPay')" ng-focus="vm.datepickers.nextPay=true" ng-disabled="true">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="interestDays">Interest Days</label>
                    <input type="text" class="form-control" id="interestDays" name="interestDays" readonly
                           ng-model="vm.interestDays" />
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="useHolidays" ng-model="vm.useHolidays" data-toggle="collapse" data-target="#holidays"> Use Holidays
                </label>
            </div>
            <div id="holidays" class="collapse">
                <div class="form-group ">
                    <div class="input-group">
                        <label for="cashFlows">Holidays:YYYY-MM-DD</label>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-xs">
                                <i class="fa fa-question-circle"></i>
                            </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-primary btn-sm" ng-click="vm.addHolidays()">Add</button>
                        <button class="btn btn-primary btn-sm" ng-click="vm.deleteSelectedHolidays()">Delete <i class="fa fa-check"></i></button>
                    </div>
                    <div ui-grid="vm.holidayGridOptions" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-importer ui-grid-exporter ui-grid-edit></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="duration">Duration</label>
                <input class="form-control" id="duration" readonly ng-model="vm.duration" />
            </div>
            <div class="form-group">
                <label for="modDuration">Modified Duration</label>
                <input class="form-control" id="modDuration" readonly ng-model="vm.modDuration" />
            </div>
            <div class="form-group">
                <label for="convexity">Convexity</label>
                <input class="form-control" id="convexity" readonly ng-model="vm.convexity" />
            </div>
            <div class="form-group">
                <label for="pvbp">PVBP</label>
                <input class="form-control" id="pvbp" readonly ng-model="vm.pvbp" />
            </div>
            <div class="form-group">
                <label for="cvxPvbp">Convexity Adjusted PVBP</label>
                <input class="form-control" id="cvxPvbp" readonly ng-model="vm.cvxPvbp" />
            </div>
            <div class="form-group">
                <input type="submit" value="CashFlows" ng-click="vm.goToCashFlows()"
                       class="btn btn-primary btn-block" ng-disabled="CustCalcForm.$invalid || !vm.cashFlows || vm.cashFlows.length==0" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="overrideDefaults" ng-model="vm.overrideDefaults" data-toggle="collapse" data-target="#defaults"> Override Defaults
                </label>
            </div>
            <div id="defaults" class="collapse">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="dayCountSelect">Day Count</label>
                        <select class="form-control" name="dayCountSelect" id="dayCountSelect"
                                ng-options="iClass for iClass in vm.dayCount"
                                ng-model="vm.selectedDayCount">
                            <option value="" ng-if=!vm.selectedDayCount>Select...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="payFrequencySelect">Pay Frequency</label>
                        <select class="form-control" name="payFrequencySelect" id="payFrequencySelect"
                                ng-options="iClass for iClass in vm.payFrequency"
                                ng-model="vm.selectedPayFrequency">
                            <option value="" ng-if=!vm.payFrequency>Select...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <label for="calcDateAdjust">Calc Date Adjust</label>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-xs">
                                    <i class="fa fa-question-circle"></i>
                                </button>
                            </span>
                        </div>
                        <select class="form-control" name="calcDateSelect" id="calcDateSelect"
                                ng-options="iClass for iClass in vm.calcDateAdjust"
                                ng-model="vm.selectedCalcDateAdjust">
                            <option value="" ng-if=!vm.selectedCalcDateAdjust>Select...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="payDateAdjust">Pay Date Adjust</label>
                        <select class="form-control" name="payDateSelect" id="payDateSelect"
                                ng-options="iClass for iClass in vm.payDateAdjust"
                                ng-model="vm.selectedPayDateAdjust">
                            <option value="" ng-if=!vm.selectedPayDateAdjust>Select...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Set Dates" class="btn btn-primary form-control" ng-click="vm.setDates()" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Defaults" class="btn btn-primary form-control"
                               ng-click="vm.setDefaults()" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="yieldDayCountSelect">Yield Day Count</label>
                            <select class="form-control" name="yieldDayCountSelect" id="yieldDayCountSelect"
                                    ng-options="iClass for iClass in vm.yieldDayCount"
                                    ng-model="vm.selectedYieldDayCount">
                                <option value="" ng-if=!vm.selectedYieldDayCount>Select...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="compoundFrequencySelect">Compound Frequency</label>
                            <select class="form-control" name="compoundFrequencySelect" id="compoundFrequencySelect"
                                    ng-options="iClass for iClass in vm.compoundFrequency"
                                    ng-model="vm.selectedCompoundFrequency">
                                <option value="" ng-if=!vm.selectedCompoundFrequency>Select...</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <label for="yieldMethodSelect">Yield Method</label>
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-xs">
                                    <i class="fa fa-question-circle"></i>
                                </button>
                            </span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="yieldMethodSelect" id="yieldMethodSelect"
                                    ng-options="iClass for iClass in vm.yieldMethod"
                                    ng-model="vm.selectedYieldMethod">
                                <option value="" ng-if=!vm.selectedYieldMethod>Select...</option>>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="issueDate">Issue Date</label>
                            <div class="input-group">
                                <input id="issueDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       name="issueDate" ng-model="vm.issueDate" is-open="vm.datepickers.issueDate"
                                       datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="vm.open($event,'issueDate')" ng-focus="vm.datepickers.issueDate=true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="text-danger" ng-cloak ng-show="CustCalcForm.issueDate.$error.required">Required</span>
                            <span class="text-danger" ng-cloak ng-show="!CustCalcForm.issueDate.$valid">Enter a Valid Date</span>
                        </div>
                        <div class="form-group">
                            <label for="firstPayDate">First Pay Date</label>
                            <div class="input-group">
                                <input id="firstPayDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       name="firstPayDate" ng-model="vm.firstPayDate" is-open="vm.datepickers.firstPayDate"
                                       datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="vm.open($event,'firstPayDate')" ng-focus="vm.datepickers.firstPayDate=true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="text-danger" ng-cloak ng-show="CustCalcForm.firstPayDate.$error.required">Required</span>
                            <span class="text-danger" ng-cloak ng-show="!CustCalcForm.firstPayDate.$valid">Enter a Valid Date</span>
                        </div>
                        <div class="form-group">
                            <label for="nextToLastDate">Next To Last Date</label>
                            <div class="input-group">
                                <input id="nextToLastDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       name="nextToLastDate" ng-model="vm.nextToLastDate" is-open="vm.datepickers.nextToLastDate"
                                       datepicker-options="dateOptions" ng-required="true"
                                       close-text="Close" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="vm.open($event,'firstPayDate')" ng-focus="vm.datepickers.nextToLastDate=true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <span class="text-danger" ng-cloak ng-show="CustCalcForm.firstPayDate.$error.required">Required</span>
                            <span class="text-danger" ng-cloak ng-show="!CustCalcForm.firstPayDate.$valid">Enter a Valid Date</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
