<div id="guide" class="col-md-12 ">
    <div class="col-md-12 ">
        <div id="pageheader" class="col-md-3 col-md-offset-5">
            Guide
        </div>
    </div>
    <div class="col-md-12 borderless">
        <ul class="list-group borderless" >
            <li class="list-group-item borderless">
                <a href="" ng-click="vm.gotoAnchor('userInterface')">User Interface</a>
                <ul class="list-group borderless">
                    <li class="list-group-item borderless">
                        <a href="" ng-click="vm.gotoAnchor('generalUI')">General</a>
                        <ul class="list-group borderless">
                            <li class="list-group-item borderless"> <a href="" ng-click="vm.gotoAnchor('api')">Api</a></li>
                            <li class="list-group-item borderless"> <a href="" ng-click="vm.gotoAnchor('help')">Help</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item borderless">
                        <a href="" ng-click="vm.gotoAnchor('custCalc')">Custom Calculator</a>
                        <ul class="list-group borderless">
                            <li class="list-group-item borderless"> <a href="" ng-click="vm.gotoAnchor('HolidayInput')">Holiday Input</a></li>
                            <li class="list-group-item borderless"> <a href="" ng-click="vm.gotoAnchor('CalculationDefaults')">Calculation Defaults</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="list-group-item borderless"><a href="" ng-click="vm.gotoAnchor('functional')">Functional Guide</a></li>
            <li class="list-group-item borderless"><a href="" ng-click="vm.gotoAnchor('technical')">Technical Guide</a></li>
            <li class="list-group-item borderless"><a href="" ng-click="vm.gotoAnchor('references')">References</a></li>
        </ul>
    </div>
    <!--<div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <img src="/img/dayCountCalculateCircled.jpg" alt="Calculate Chosen" class="img-responsive" />
            <div id="api" name="api">
                <img src="/img/dayCountApiCircled.png" alt="Calculate Chosen" class="img-responsive" />
            </div>
        </div>
    </div>-->
</div>
<div id="userInterface" class="col-md-12">
    <div class="col-md-4 col-md-offset-4">
        <h2>User Interface</h2>
    </div>
    <div id="generalUI" class="col-md-12">
        <h3>General</h3>
        <label>The following features generally apply accross the UI.</label><br /><br />
        <div class="col-md-7">
            <img src="/img/CustCalc.png" alt="Custom Calculator" class="img-responsive" />
        </div>
        <div id="api" class="col-md-12">
            <h4>Api</h4>
            <label>After a calculation has occurred, the Api button will be enabled. Clicking it will open the Api dialog.</label><br /><br />
            <div class="col-md-7" name="custCalcApi">
                <img src="/img/CustCalcApiCircled.png" alt="Custom Calculator Api" class="img-responsive" />
            </div>
            <div class="col-md-4 col-md-offset-1" name="Api">
                <img src="/img/Api.png" alt="Api Dialog" class="img-responsive" />
            </div>
            <br/><br/>
            <label>The Api Dialog provides the information necessary to call direct posts to the Api without using the UI.</label>
            <br /><br />
            <div class="col-md-12 borderless">
                <ul class="list-group borderless">
                    <li class="list-group-item borderless">Url - address to use when posting to the Api</li>
                    <li class="list-group-item borderless">REQUEST JSON - Json sent in body for the latest Calculation.</li>
                    <li class="list-group-item borderless">RESPONSE JSON - Json in response from latest calculation latest Calculation.</li>
                </ul>
            </div>
            <br /><br />
            <label>The request json can be edited to make an http post for a different calculation.</label>
        </div>
        <div id="help" class="col-md-12">
            <h4>Help</h4>
            <label>The circled question mark provides help on an item. Clicking it will open the Help Dialog</label><br /><br />
            <div class="col-md-7" name="custCalcApi">
                <img src="/img/CustCalcHelpCircled.png" alt="Custom Calculator Help" class="img-responsive" />
            </div>
            <div class="col-md-4 col-md-offset-1" name="Help">
                <img src="/img/HelpDialog.png" alt="Help Dialog" class="img-responsive" />
            </div>
            <br /><br />
            <label>The Help Dialog gives a brief description of the item plus a button to open the item in the guide.</label>
        </div>
    </div>
    <div id="custCalc" class="col-md-12">
        <h3>Custom Calculator</h3>
        <label>Allows for flexible Custom Calculations.</label><br /><br />
        <div class="col-md-7">
            <img src="/img/CustCalc.png" alt="Custom Calculator" class="img-responsive" />
        </div>
        <div id="HolidayInput" class="col-md-12">
            <h4>Holiday Input</h4>
            <label>Allows for holiday input.</label><br /><br />
            <div class="col-md-7" name="custCalcHolidayInput">
                <img src="/img/CustCalcHolidays.png" alt="Custom Calculator Holidays" class="img-responsive" />
            </div>
        </div>
        <div id="CalculationDefaults" class="col-md-12">
            <h4>Defaults</h4>
            <label>Clicking the 'View Defaults' button will show the defults in effect and allow them to be edited.</label><br /><br />
            <div class="col-md-7" name="custCalcHolidayInput">
                <img src="/img/CustCalcDefaults.png" alt="Custom Calculator Holidays" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
    <div id="functional" class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <h2>Functional Guide</h2>
        </div>
        <div id="maturitydate" class="col-md-12">
            <h3>Maturity Date</h3>
            <label>Date on which the instrument matures.</label><br />
        </div>
        <div id="valuedate" class="col-md-12">
            <h3>Value Date</h3>
            <label>Also called Settlement Date. Base date used for calculating accrued interest and yield.</label>
        </div>
        <div id="daycount" class="col-md-12">
            <h3>Day Count</h3>
            <label>
                Day Count both determines the number of days between 2 dates and also in the factor to multiply by the
                rate and nominal to arrive at accrued interest over the range. Some day count rules only differ within the context of an instrument
                where they are used to also determine the amount of a coupon payment, such as ACT/365CD.
            </label>
            <div id="30EP_360" class="col-md-12">
                <h4>30E+/360</h4>
                <label>
                    Factor = Num/Den Num:
                    <br />1. If D1 = 31, Set D1 = 30
                    <br />2. If D2 = 31, Set D2.M2.Y2 to the 1st day of the next month - (D2 = 1, Y2 = Y2 + Integer part of (M2+1)/12, M2= M2 + 1 Mod 12)
                    <br />3. Num = (D2 – D1) + 30 * (M2 – M1) + 360 * (Y2 – Y1)
                    Den = 360
                </label>
            </div>
            <div id="30E_360" class="col-md-12">
                <h4>30E/360</h4>
                <label>
                    Factor = Num/Den
                    Num:
                    <br />1. If D1 = 31, Set D1 = 30
                    <br />2. If D2 = 31, Set D2 = 30
                    <br />3. Last day of February not treated specially
                    <br />4. Num = (D2 – D1) + 30 * (M2 – M1) + 360 * (Y2 – Y1)
                    Den = 360
                </label>
            </div>
            <div id="30_360German" class="col-md-12">
                <h4>30/360 German</h4>
                <label>
                    Factor = Num/Den
                    Num:
                    <br />1. If D1 (and/or D2) = 31, Set D1 (and/or D2) = 30
                    <br />2. If D1.M1.Y1 (and/or D2.M2.Y2) falls on the last day of the February set use D1 = 30 (and/or D2 = 30)
                    <br />3. Num = (D2 – D1) + 30 * (M2 – M1) + 360 * (Y2 – Y1)
                    Den = 360
                </label>
            </div>
            <div id="30_360ISDA(Muni)" class="col-md-12">
                <h4>30/360 ISDA(Muni)</h4>
                <label>
                    Factor = Num/Den
                    Num:
                    <br />1. If D1 = 31, Set D1 = 30
                    <br />2. If D1 = 30 after applying 1 and D2 = 31, Set D2 = 30
                    <br />3. Num = (D2 – D1) + 30 * (M2 – M1) + 360 * (Y2 – Y1)
                    Den = 360
                </label>
            </div>
            <div id="ACT_360" class="col-md-12">
                <h4>ACT/360</h4>
                <label>
                    Factor = Num/Den
                    <br />Num = Actual number of days within the accrual period
                    <br />Den = 360
                </label>
            </div>
            <div id="ACT_365" class="col-md-12">
                <h4>ACT/365</h4>
                <label>
                    Factor = Num/Den
                    <br />Num = Actual number of days within the accrual period
                    <br />Den = 365
                </label>
            </div>
            <div id="ACT_365CD" class="col-md-12">
                <h4>ACT/365CD</h4>
                <label>
                    Similar to ACT/365. However the amount of the coupon will vary accordimg to the days in the period.
                    <br />Whereas in ACT/365 the coupon is constant and the daily accrual changes.
                </label>
            </div>
            <div id="ACT_360CD" class="col-md-12">
                <h4>ACT/360CD</h4>
                <label>
                    Similar to ACT/360. However the amount of the coupon will vary accordimg to the days in the period.
                    <br />Whereas in ACT/360 the coupon is constant and the daily accrual changes.
                </label>
            </div>
            <div id="ACT_ACT(UST)" class="col-md-12">
                <h4>ACT/ACT(UST)</h4>
                <label>
                    In the context of a simple date range:
                    <br />Factor = Days1 /366 + Days2 / 365
                    <br />Days1 = Actual number of days in period that fall in a leap year.
                    <br />Days2 = Actual number of days in period that fall in a normal year.
                    <br />
                    <br />In the context of an instrument coupon period,
                    <br />the coupon payment is the coupon rate divided by the pay frequency.
                    <br />The factor will then be the the number of days in therange divided by the number of days in the period.
                </label>
            </div>
            <div id="ACT_365L" class="col-md-12">
                <h4>ACT/365L</h4>
                <label>
                    Factor = Num/Den
                    <br />Num = Actual number of days within the accrual period
                    <br />Den = 366 if the accrual period end date (D2.M2.Y2) falls in a leap year else 365
                </label>
            </div>
            <div id="ACT_365A" class="col-md-12">
                <h4>ACT/365A</h4>
                <label>
                    Factor = Num/Den
                    <br />Num = Actual number of days within the accrual period
                    <br />Den = 366 if the Leap day (29th Feb) falls within the accrual period else 365
                </label>
            </div>
            <div id="ACT_ACT(ISDA)" class="col-md-12">
                <h4>ACT/ACT(ISDA)</h4>
                <label>
                    Factor = Days1 /366 + Days2 / 365
                    <br />Days1 = Actual number of days in period that fall in a leap year.
                    <br />Days2 = Actual number of days in period that fall in a normal year.
                </label>
            </div>
            <div id="NL_365" class="col-md-12">
                <h4>NL/365</h4>
                <label>
                    Factor = Num/Den
                    <br />Num: If the Leap day (29th Feb) does not fall within the accrual period
                    then,
                    <br />Actual number of days within the accrual period
                    <br />Otherwise,
                    <br />Actual number of days within the accrual period -1
                    Den=365

                    <br />This method is used in Japan.
                </label>
            </div>
            <div id="ACT_366" class="col-md-12">
                <h4>ACT/366</h4>
                <label>
                    Factor = Num/Den
                    <br />Num = Actual number of days within the accrual period
                    Den = 366
                </label>
            </div>
            <div id="30_360US" class="col-md-12">
                <h4>30/360 US</h4>
                <label>
                    Factor = Num/Den
                    <br />Num:
                    <br />1. If D2.M2.Y2 is the last day of February (28 in a non leap year; 29 in a leap year) and
                    D1.M1.Y1 is the last day of February, Set D2 = 30
                    <br />2. If D1 is the last day of February, Set D1 = 30
                    <br />3. If D2 = 31 and D1 = 30 or 31, Set D2 = 30
                    <br />4. If D1 = 31, Set D1 = 30
                    Den = 360
                </label>
            </div>
        </div>
        <div id="technical" class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <h2>Technical Guide</h2>
            </div>
        </div>
        <div id="references" class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <h2>References</h2>
            </div>
            <div class="col-md-12">
                <ul>
                    <li>
                        <label>
                            Standard securities calculation methods : fixed income securities formulas
                            Author: Jan Mayle.
                            Publisher: New York : Securities Industry and Financial Markets Association, 2007.
                        </label>
                    </li>
                    <li>
                        <label>
                            Yield Calculations.
                            Author:	Paul Fage; Credit Suisse First Boston. Research Department.
                            Publisher:	London : Credit Suisse First Boston, ©1986.
                        </label>
                    </li>
                    <li>
                        <label>
                            <a href="http://www.icmagroup.org/assets/documents/Media/Bondmarketsbook/Bond%20markets_structures%20and%20yield%20calculations.pdf">http://www.icmagroup.org/assets/documents/Media/Bondmarketsbook/Bond%20markets_structures%20and%20yield%20calculations.pdf</a>
                        </label>
                    </li>
                    <li>
                        <label>
                            <a href="http://www.isda.org/c_and_a/trading_practice.html">http://www.isda.org/c_and_a/trading_practice.html</a>
                        </label>
                    </li>
                    <!--<li>
                        <label>
                            <a href="http://docs.fincad.com/support/developerfunc/mathref/Daycount.htm">http://docs.fincad.com/support/developerfunc/mathref/Daycount.htm</a>
                        </label>
                    </li>
                    <li>
                        <label>
                            <a href="http://www.deltaquants.com/day-count-conventions">http://www.deltaquants.com/day-count-conventions</a>
                        </label>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
