<div id="guide" class="col-md-12 ">
    <div class="col-md-12 ">
        <div id="pageheader" class="col-md-3 col-md-offset-5">
            Guide
        </div>
    </div>
    <div>
        <ul class="nav">
            <li><a href="" ng-click="vm.gotoAnchor('api')">Api</a></li>
            <li><a href="" ng-click="vm.gotoAnchor('functional')">Functional Guide</a></li>
            <li><a href="" ng-click="vm.gotoAnchor('technical')">Technical Guide</a></li>
            <li><a href="" ng-click="vm.gotoAnchor('references')">References</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <img src="/img/dayCountCalculateCircled.jpg" alt="Calculate Chosen" class="img-responsive" />
            <div id="api" name="api">
                <img src="/img/dayCountApiCircled.png" alt="Calculate Chosen" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="functional" class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <h2>Functional Guide</h2>
        </div>
    </div>
</div>
<div class="row">
    <div id="technical" class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <h2>Technical Guide</h2>
        </div>
        <div id="maturitydate" class="col-md-12">
            <h3>Maturity Date</h3>
        </div>
    </div>
    <div id="references" class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <h2>References</h2>
        </div>
        <div class="col-md-12">
            <ul>
                <li>
                    <label>
                        Title: Standard securities calculation methods : fixed income securities formulas
                        Author: Jan Mayle.
                        Publisher: New York : Securities Industry and Financial Markets Association, 2007.
                    </label>
                </li>
                <li>
                    <label>
                        Yield Calculations.
                        Author:	Paul Fage; Credit Suisse First Boston. Research Department.
                        Publisher:	London : Credit Suisse First Boston, ©1986.
                    </label>
                </li>
                <li>
                    <label>
                        http://www.icmagroup.org/assets/documents/Media/Bondmarketsbook/Bond%20markets_structures%20and%20yield%20calculations.pdf
                    </label>
                </li>
                <li>
                    <label>
                        http://docs.fincad.com/support/developerfunc/mathref/Daycount.htm
                    </label>
                </li>
                <li>
                    <label>
                        http://www.deltaquants.com/day-count-conventions
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
