<div id="guide" class="col-md-12 ">
    <div class="col-md-12 ">
        <div id="pageheader" class="col-md-3 col-md-offset-5">
            Guide
        </div>
    </div>
    <div>
        <ul class="nav">
            <li><a href="#/About">About</a></li>
            <li><a href="#/Contact">Contact</a></li>
            <li><a href="#/DayCount">Day Count</a></li>
            <li><a href="#/CashFlows">Cash Flows</a></li>
            <li><a href="#/USTBill">USTBill</a></li>
            <li><a href="#/CustomCalc">Custom Calcs</a></li>
        </ul>
    </div>
    <div>
    <img src="/img/dayCountCalculateCircled.jpg" alt="Calculate Chosen" class="img-responsive" />
        </div>
</div>
