<div class="col-md-6">
    <h1> FinSys</h1>
    <p>This will be a fun website soon!</p>
    <form>
        <div class="form-group">
            <label>Start Date</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>End Date</label>
            <input class="form-control" />
        </div>
        <div>
            <input type="submit" value="Calculate" class="btn btn-success" />
        </div>
    </form>
</div>
<div class="col-md-6">
    <h1>
        Day Count Factors
    </h1>
</div>
