<div ng-app="app-calculator" class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <h2>USTBill Calculator</h2>
        </div>
    </div>
    <div class="text-danger text-center" ng-cloak ng-show="vm.errorMessage">{{ vm.errorMessage}}</div>
    <div class="text-center" ng-show="vm.isBusy"><i class="fa fa-spinner fa-spin"></i> Loading... </div>
    <form novalidate name="USTBillForm">
        <div class="col-md-3">
            <div class="form-group ">
                <div class="input-group">
                    <label for="maturityDate"> Maturity Date</label>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-xs">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </span>
                </div>
                <div class="input-group input-group-sm">
                    <input id="maturityDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           name="maturityDate" ng-model="vm.maturityDate" is-open="vm.datepickers.maturityDate"
                           datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-xs" ng-click="vm.open($event,'maturityDate')" ng-focus="vm.datepickers.maturityDate=true">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <span class="text-danger" ng-cloak ng-show="USTBillForm.maturityDate.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="!USTBillForm.maturityDate.$valid">Enter a Valid Date</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="price">Price (Par=100)</label>
                    <input type="text" class="form-control" id="price" name="price" ng-disabled="vm.ustbill.calcfrom!='price'"
                           ng-model="vm.price" ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
                </div>
                <span class="text-danger" ng-cloak ng-show="USTBillForm.price.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="USTBillForm.price.$error.pattern">Invalid Number</span>
            </div>
            <div class="form-group">
                <label for="discount">Discount</label>
                <input type="text" class="form-control" id="discount" name="discount" ng-model="vm.ustbill.discount" ng-disabled="vm.ustbill.calcfrom!='discount'"
                       ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
            </div>
            <span class="text-danger" ng-cloak ng-show="USTBillForm.discount.$error.required">Required</span>
            <span class="text-danger" ng-cloak ng-show="USTBillForm.discount.$error.pattern">Invalid Number</span>
            <div class="form-group">
                <label for="be">Bond Equivalent</label>
                <input type="text" class="form-control" id="be" name="be" ng-model="vm.ustbill.be" ng-disabled="vm.ustbill.calcfrom!='be'"
                       ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
            </div>
            <span class="text-danger" ng-cloak ng-show="USTBillForm.be.$error.required">Required</span>
            <span class="text-danger" ng-cloak ng-show="USTBillForm.be.$error.pattern">Invalid Number</span>
            <div class="form-group">
                <label for="mmYield">MM Yield</label>
                <input type="text" class="form-control" id="mmYield" name="mmYield" ng-model="vm.ustbill.mmYield" ng-disabled="vm.ustbill.calcfrom!='mmYield'"
                       ng-required="true" ng-pattern="/^\d{0,20}(\.\d{1,20})?$/" />
            </div>
            <span class="text-danger" ng-cloak ng-show="USTBillForm.mmYield.$error.required">Required</span>
            <span class="text-danger" ng-cloak ng-show="USTBillForm.mmYield.$error.pattern">Invalid Number</span>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <label for="valueDate">Value Date </label>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-xs">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </span>
                </div>
                <div class="input-group input-group-sm">
                    <input id="valueDate" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           name="valueDate" ng-model="vm.valueDate" is-open="vm.datepickers.valueDate"
                           datepicker-options="dateOptions" ng-required="true"
                           close-text="Close" />
                    <span class="input-group-btn">
                        <button class="btn btn-xs" ng-click="vm.open($event,'valueDate')" ng-focus="vm.datepickers.valueDate=true">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
                <span class="text-danger" ng-cloak ng-show="USTBillForm.valueDate.$error.required">Required</span>
                <span class="text-danger" ng-cloak ng-show="!USTBillForm.valueDate.$valid">Enter a Valid Date</span>
            </div>
            <label for="calcRadio">Calculate From:</label>
            <div class="form-group" ng-init="vm.ustbill.calcfrom='price'">
                <div class="radio ">
                    <label>
                        <input type="radio" name="calcchoice" value="price" ng-model="vm.ustbill.calcfrom">
                        Price
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="calcChoice" value="discount" ng-model="vm.ustbill.calcfrom">
                        Discount
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="calcChoice" value="be" ng-model="vm.ustbill.calcfrom">
                        Bond Equivalent
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="calcChoice" value="mmYield" ng-model="vm.ustbill.calcfrom">
                        MM Yield
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="includeCashflows" ng-model="vm.ustbill.includeCashflows"> Include Cashflows
                </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Calculate" class="btn btn-success btn-large form-control"
                               ng-click="vm.calcUSTBill()" ng-disabled="USTBillForm.$invalid" />
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="CashFlows" ng-click="vm.goToCashFlows()" 
                               class="btn btn-primary btn-default form-control" ng-disabled="USTBillForm.$invalid || !vm.cashFlows || vm.cashFlows.length==0"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="API" class="btn btn-primary btn-default form-control"
                               ng-click="vm.getApi()" ng-disabled="USTBillForm.$invalid || !vm.responseJson" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="duration">Duration</label>
                <input class="form-control" id="duration" readonly ng-model="vm.duration" />
            </div>
            <div class="form-group">
                <label for="modDuration">Modified Duration</label>
                <input class="form-control" id="modDuration" readonly ng-model="vm.modDuration" />
            </div>
            <div class="form-group">
                <label for="convexity">Convexity</label>
                <input class="form-control" id="convexity" readonly ng-model="vm.convexity" />
            </div>
            <div class="form-group">
                <label for="pvbp">PVBP</label>
                <input class="form-control" id="pvbp" readonly ng-model="vm.pvbp" />
            </div>
            <div class="form-group">
                <label for="cvxPvbp">Convexity Adjusted PVBP</label>
                <input class="form-control" id="cvxPvbp" readonly ng-model="vm.cvxPvbp" />
            </div>
        </div>
    </form>
</div>
